/* 
Authors: Hieu Ma, Lin Tun, Shauhin Pourshayegan 
*/

#restaurant-card {
   margin: 2%;
   /* margin-left: 3%; */

   /* flex-wrap: nowrap; */
}

#restaurant-name {
   font-weight: 600;
   margin-top: 2%;
   margin-bottom: 1%;
   margin-left: 2.5%;
}

#restaurant-menu-cart-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#restaurant-menu {
   display: flex;
   flex-direction: column;
   margin-right: 2%;
}

.restaurant-menu-items {
   width: 100%;
}

#restaurant-cart {
   margin-right: 2%;
}

.card-body {
   display: flex;
   justify-content: center;
   padding: 12px;
   overflow-y: scroll;
}

#restaurant-options-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   overflow-y: scroll;
}


