/* 
Authors: Hieu Ma, Lin Tun, Shauhin Pourshayegan 
*/

#menu-item {
   background-color: rgb(212, 212, 212);
   padding: 10px;
   border-radius: 10px;
   width: 100%;
   margin-bottom: 2%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#menu-buttons-container {
   display: flex;
   flex-direction: column;
}

#menu-buttons-add {
   margin-bottom: 5%;
}

.menu-buttons {
   height: 50%;
}