/* #home {
   display: flex;
   justify-content: space-between;
   padding: 4%;
}

#explore-browse-container {
   display: flex;
   flex-direction: column;
}

#link {
   text-decoration: none;
   color: black;
   margin-bottom: 3%;
}

.left-container {
   display: flex; 
   flex-direction: column;
   margin-bottom: 10%;
   cursor: pointer;   
}

.sub-title {
   margin-top:2%;
}

#browse {
   width: 20vw;
   height: 20vh;
   background-color: rgb(180, 180, 180);
}

#explore {
   width: 20vw;
   height: 20vh;
   background-color: rgb(180, 180, 180);
}

#gator-grub {
   width: 40vw;
   height: 40vh;
   background-color: rgb(180, 180, 180);
}

#gator-grub-text-container{
   width:49%;
   padding: 10px;
}

#register {
   width: 20vw;
   height: 60vh;
   background-color: rgb(180, 180, 180);
}

#gator-grub-container {
   display: flex; 
   flex-direction: column;
}

#register {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

#register-text {
   text-align: center;
} */

#home {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-top: 8%;
   padding-bottom: 8%;
   background-color:#8987C8;
}

.content{
   display: grid;
   grid-template-columns: 50% auto;
   gap: 30px;
   /* margin-top: 120px; */
   margin-left: 100px;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   
}

.content-left{
   display: block;
   width: 100%;
}

.info{
   text-align:center;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.gator-grub-header{
   font-size: 60px;
   font-family: sans-serif;
   margin-bottom: 0px;
}

.gator-grub{
   font-size: 20px;
   line-height: 2pc;
   margin-bottom: 5%;
   font-family: sans-serif;
   color:rgb(66, 66, 66);
}

#signup-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 66vh;
   background-color: #f3f3f3;
}
.signup-card {
   width: 18rem;
   height: 30rem;
   margin-left: 2%;
   margin-right: 2%;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.card-header {
   font-size: 24px;
   text-align: center;
}

.card-p {
   font-size: 18px;
   text-align: center;

}
