#restaurant-menu-container {
   width: 35vw;
   height: 25vh;
   background-color: rgb(216, 216, 216);
   padding-top: 10px;
   padding-left: 15px;
}

#restaurant-menu-title {
   font-size: 20px;
}

#card-body {
   display: flex;
   justify-content: center;
   padding: 12px;
   overflow-y: scroll;
}

#restaurant-menu {
   display: grid;
   width: 100%;
   grid-template-columns: 49% 49%;
   grid-auto-flow: row;
   column-gap: 2%;
   row-gap: 3%;

}

#restaurant-name {
   font-weight: 600;
   margin-top: 1%;
   margin-bottom: 1%;
}

#restaurant-description {
   width: 35vw;
}